* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #282836;
  width: 100vw;
  height: 100dvh;
}

@media only screen and (width >= 992px) {
  .main-content {
    z-index: 5;
    grid-template-rows: 10dvh 80dvh 10dvh;
    place-items: center;
    width: 100vw;
    height: 100dvh;
    display: grid;
    position: absolute;
  }

  .main-content .logo {
    -webkit-user-select: none;
    user-select: none;
    width: 9rem;
    margin-top: 1rem;
  }

  .main-content .title {
    grid-template-rows: 1 / 2;
    color: #fff;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    font-family: Bebas Neue, sans-serif;
    font-size: 17rem;
    line-height: 13rem;
  }

  .main-content #instagram-logo {
    color: #fff;
    font-size: 2rem;
  }

  .background-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .background-container #blue--dot {
    width: 80vw;
    position: absolute;
    bottom: -120dvh;
    left: -17vw;
  }

  .background-container #green--dot {
    z-index: 3;
    width: 40vw;
    position: absolute;
    bottom: -20dvh;
    right: -10vw;
    transform: rotate(279deg);
  }

  .background-container #red--dot {
    z-index: 1;
    width: 60vw;
    position: absolute;
    top: -55dvh;
    right: -25vw;
    transform: rotate(200deg);
  }

  .background-container #pink--dot {
    z-index: 0;
    width: 35vw;
    position: absolute;
    top: -30dvh;
    left: -10vw;
    transform: rotate(60deg);
  }

  .background-container #white--dot {
    z-index: 5;
    width: 25vw;
    position: absolute;
    bottom: 30dvh;
    right: -10vw;
  }

  .background-container #yellow--dot {
    z-index: 3;
    width: 40vw;
    position: absolute;
    bottom: -40dvh;
    right: 7vw;
    transform: rotate(270deg);
  }
}

@media only screen and (width <= 600px) {
  .main-content {
    z-index: 5;
    grid-template-rows: 10dvh 80dvh 10dvh;
    place-items: center;
    width: 100vw;
    height: 100dvh;
    display: grid;
    position: absolute;
  }

  .main-content .logo {
    -webkit-user-select: none;
    user-select: none;
    width: 9rem;
    margin-top: 1rem;
  }

  .main-content .title {
    grid-template-rows: 1 / 2;
    color: #fff;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    font-family: Bebas Neue, sans-serif;
    font-size: 8rem;
    line-height: 6rem;
  }

  .main-content #instagram-logo {
    color: #282836;
    font-size: 2rem;
  }

  .background-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .background-container #blue--dot {
    width: 10vw;
    display: none;
  }

  .background-container #green--dot {
    width: 70vw;
    position: absolute;
    top: 6dvh;
    left: -45vw;
    transform: rotate(45deg);
  }

  .background-container #red--dot {
    width: 10vw;
    display: none;
  }

  .background-container #pink--dot {
    z-index: 3;
    width: 130vw;
    position: absolute;
    bottom: 10dvh;
    right: -90vw;
    transform: rotate(290deg);
  }

  .background-container #white--dot {
    z-index: 2;
    width: 90vw;
    position: absolute;
    bottom: -30dvh;
    left: -50vw;
  }

  .background-container #yellow--dot {
    width: 120vw;
    position: absolute;
    bottom: -30dvh;
    left: 0;
    transform: translate(-10vw)rotate(270deg);
  }
}

@media only screen and (width >= 600px) and (width <= 992px) {
  .main-content {
    z-index: 5;
    grid-template-rows: 10dvh 80dvh 10dvh;
    place-items: center;
    width: 100vw;
    height: 100dvh;
    display: grid;
    position: absolute;
  }

  .main-content .logo {
    -webkit-user-select: none;
    user-select: none;
    width: 9rem;
    margin-top: 1rem;
  }

  .main-content .title {
    grid-template-rows: 1 / 2;
    color: #fff;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    font-family: Bebas Neue, sans-serif;
    font-size: 8rem;
    line-height: 6rem;
  }

  .main-content #instagram-logo {
    color: #282836;
    font-size: 2rem;
  }

  .background-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .background-container #blue--dot {
    width: 10vw;
    display: none;
  }

  .background-container #green--dot {
    width: 60vw;
    position: absolute;
    top: -10dvh;
    left: -45vw;
    transform: rotate(45deg);
  }

  .background-container #red--dot {
    width: 10vw;
    display: none;
  }

  .background-container #pink--dot {
    z-index: 3;
    width: 130vw;
    position: absolute;
    bottom: 10dvh;
    right: -100vw;
    transform: rotate(290deg);
  }

  .background-container #white--dot {
    z-index: 2;
    width: 90vw;
    position: absolute;
    bottom: -50dvh;
    left: -60vw;
  }

  .background-container #yellow--dot {
    width: 120vw;
    position: absolute;
    bottom: -100dvh;
    left: 0;
    transform: translate(-10vw)rotate(270deg);
  }
}

/*# sourceMappingURL=index.b8d1660c.css.map */
